.bg-cover {
    background-size: cover !important; font-family: sans-serif;
}
.row {color: azure; font-family: sans-serif; text-align: center;
}
.carousel-item{ 
    height: 25rem;
position: relative; padding-bottom: 5rem;
}